
<% include ./partials/header %>



<div class="slideshow">
  <li></li>
  <li></li>
  <li></li>
</div>

<div class="container-fluid fontStyling"></div>
    <div class="row" id="trending">
        <div class="col-sm-12 trendingDiv">
            <h1>What's Trending</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail trendingBox">
                <a href="/products/<%=products[0].productType%>/<%=products[0]._id %>"><img src="<%= products[0].image %>"></a>
                <h2><%=products[0].name %></h2>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="trendingDiv" id="trending2">
                <h1>What's Trending</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail trendingBox">
                <a href="/products/<%=products[1].productType%>/<%=products[1]._id %>"><img src="<%= products[1].image %>"></a>
                <h2><%=products[1].name %></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <% for(var i = 2; i < 5; i++){ %>
        <div class="col-sm-4">
            <div class="thumbnail trendingBox">
                <a href="/products/<%=products[i].productType%>/<%=products[i]._id %>"><img src="<%= products[i].image%> "></a>
                <h2><%=products[i].name %></h2>
            </div>
        </div>
        <% } %>
        <!--<div class="col-sm-4">-->
        <!--    <div class="thumbnail trendingBox"></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--    <div class="thumbnail trendingBox"></div>-->
        <!--</div>-->
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <h1>Clearance Items</h1>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
    </div>

</div>




<% include ./partials/footer %>
