<% include ../partials/header %>

<h1>User profile</h1>
<hr>
<div class="row">
    
    <div class="col-md-6">
        <h2>User Information</h2>
        <div class="row">
            <div class="col-xs-1"><a href="/profile/edit" id="profileBtn" type="button" class="btn btn-warning pull-left">Edit</a></div>
            <div class="col-xs-11">
                <div class="col-md-6 col-xs-12 profileInfo">
                    <h4>Username: <%= currentUser.username %></h4>
                </div>
                <div class="col-md-6 col-xs-12 profileInfo">
                    <h4>Email: <%= currentUser.email %></h4>
                </div>
                <div class="col-md-6 col-xs-12 profileInfo">
                    <h4>First Name: <%= currentUser.firstName %></h4>
                </div>
                <div class="col-md-6 col-xs-12 profileInfo">
                    <h4>Last Name: <%= currentUser.lastName %></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Order History</h2>
        <% orders.forEach(function(order){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        <% order.items.forEach(function(item){ %>
                            <li class="list-group-item productImg">
                                <span class="badge">$<%= item.price %></span>
                                <div class="thumbnailImage"><img src="<%= item.item.image %>"></div> <%= item.item.name %> | <%= item.qty %> Unit(s)
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: $<%= order.cart.totalPrice %></strong>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>