<% include ../../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Erik's Shop</p>
            <div class="list-group">
                <a href="/products/furniture/<%= product._id %>"><li class="list-group-item">Product Overview</li></a>
                <a href="/products/furniture/<%= product._id %>/varnish"><li class="list-group-item">Varnish Options</li>
                <a href="/products/furniture/<%= product._id %>/specs"><li class="list-group-item active">Product Specifications</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= product.image %>">
                <a class="btn btn-primary" href="/products/furniture/add-to-cart/<%= product.id %>" role="button">Add to Cart</a>
                <div class="caption-full">
                    <h4 class="pull-right">$<%= product.price %></h4>
                    
                    <h3><a><%= product.name %></a></h3>
                    <br>
                    <p><%= product.description %></p>
                    <% if(currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/products/furniture/<%= product._id %>/edit">Edit</a>
                        <form class="deleteform" action="/products/furniture/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>