<% include ../partials/header %>

<% if(products){ %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <ul class="list-group">
            <% products.forEach(function(product){ %>
            <li class="list-group-item">
                <span class="badge"><%= product.qty %></span>
                <strong><%= product.item.name %></strong>
                <span class="label label-success">$<%= product.price %></span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/products/reduce/<%= product.item._id %>">Reduce by 1</a></li>
                            <li><a href="/products/remove/<%= product.item._id %>">Remove All</a></li>
                        </ul>
                    
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <strong>Total: <%= totalPrice %></strong>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5">
            <% if(totalQty > 0){ %>
            <form action="/shopping-cart" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_sNKs2EaDESoJPar6GZeCYVdo"
                data-amount="<%= checkoutPrice %>"
                data-name="Erik's Workshop"
                data-description="<%= totalQty %> item(s)"
                data-image="/uploads/image-1513361338125.png"
                data-locale="auto"
                data-zip-code="true"
                data-billing-address="true"
                data-shipping-address="true"
                >
              </script>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <% } %>
        </div>
        
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
<% } %>


<% include ../partials/footer %>