<% include ../partials/header %>

<% if(products){ %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <ul class="list-group">
            <% products.forEach(function(product){ %>
            <li class="list-group-item">
                <span class="badge"><%= product.qty %></span>
                <strong><%= product.item.name %></strong>
                <span class="label label-success">$<%= product.price %></span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">Reduce by 1</a></li>
                            <li><a href="#">remove all</a></li>
                        </ul>
                    </button>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <strong>Total: <%= totalPrice %></strong>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">

        <form action="/shopping-cart" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_sNKs2EaDESoJPar6GZeCYVdo"
            data-amount="<%= checkoutPrice %>"
            data-name="Erik's Workshop"
            data-description="<%= totalQty %> item(s)"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-billing-address="true"
            data-shipping-address="true"
            >
          </script>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        
        
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
<% } %>

<input type="hidden" name="_csrf" value="<%= csrfToken %>">

<% include ../partials/footer %>