<% include ../partials/header %>

<% if(products){ %>


<div class="row">
    <div class="container">
        <ul class="list-group">
            <% products.forEach(function(product){ %>
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div id="shopImage" class="thumbnail col-sm-6 colCell">
                            <img src="<%= product.item.image %>">
                            <% if(product.clearance === true) { %>
                            <span class="label label-success">Cost: $<%= product.clearancePrice %></span>
                            <% } else { %>
                            <span class="label label-success">Cost: $<%= product.price %></span>
                            <% } %>
                        </div>
                        <div class="col-sm-6">
                            <strong>Description:</strong>
                            <p id="shopDesc">
                                <%= product.item.description %>
                            </p>
                        </div>
                    </div>
                </div>
                <span class="badge">Quantity: <%= product.qty %></span>
                <strong><%= product.item.name %></strong>
                
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Remove... <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="/reduce/<%= product.item._id %>">Remove 1 Unit</a></li>
                            <li class="dropdown-item"><a href="/remove/<%= product.item._id %>">Remove All</a></li>
                        </ul>
                    
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <h2><strong>Total: $<%= totalPrice %></strong></h1>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5">
            <% if(totalQty > 0 && currentUser){ %>
            <form action="/shopping-cart" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_sNKs2EaDESoJPar6GZeCYVdo"
                data-amount="<%= checkoutPrice %>"
                data-name="Erik's Workshop"
                data-description="<%= totalQty %> item(s)"
                data-image="/uploads/Logo.png"
                data-locale="auto"
                data-zip-code="true"
                data-billing-address="true"
                data-shipping-address="true"
                >
              </script>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <% } else {%>
            <a href="/login" class="btn btn-primary">Pay with Card</a>
            <% } %>
        </div>
        
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
<% } %>


<% include ../partials/footer %>