<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/products/<%= product.productType %>/<%= product._id %>"><li class="list-group-item active">Product Overview</li></a>
                <% if(product.productType === "furniture") { %>
                <a href="/products/<%= product.productType %>/<%= product._id %>/varnish"><li class="list-group-item">Varnish Options</li></a>
                <% } %>
                <a href="/products/<%= product.productType %>/<%= product._id %>/specs"><li class="list-group-item">Product Specifications</li></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div id="arrowContainer">
                    <i id="aLeft" class="arrow left"></i>
                    <img id="imageStart" class="img-responsive" src="<%= image[0] %>">
                    <img id="imageSecond" class="img-responsive" src="<%= image[1] %>">
                    <img id="imageFinish" class="img-responsive" src="<%= image[2] %>">
                    <i id="aRight" class="arrow right"></i>
                </div>
                
                <div class="marginAround">
                    <a class="btn btn-primary marginTop" href="/products/<%= product.productType %>/add-to-cart/<%= product.id %>" role="button">Add to Cart</a>
                    <div class="caption-full">
                        <div class="needSpace">
                            <% if(product.clearance){ %>
                            <h3 class="pull-right clearancePrice">On Clearance $<%= product.clearancePrice %></h3>
                            <% } else { %>
                            <h3 class="pull-right">$<%= product.price %></h3>
                            <% } %>
                            <h3 class="col-xs-3 col-xs-offset-4"><a><%= product.name %></a></h3>
                        </div>
                        <hr>
                        <p class="marginAround"><strong>Product Description: </strong><%= product.description %></p>
                        <% if(currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-xs btn-warning" href="/products/<%= product.productType.toLowerCase() %>/<%= product._id %>/edit">Edit</a>
                            <form class="deleteform" action="/products/<%= product.productType %>/<%= product._id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-xs btn-danger marginTop">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>