<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Erik's Shop</p>
            <div class="list-group">
                <li class="list-group-item active">Product Overview</li>
                <li class="list-group-item">Varnish Options</li>
                <li class="list-group-item">Product Specifications</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= product.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= product.price %></h4>
                    <h3><a><%= product.name %></a></h3>
                    <br>
                    <p><%= product.description %></p>
                    <% if(currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= product._id %>/edit">Edit</a>
                        <form class="deleteform" action="/campgrounds/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>